<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <small>Créer</small>
      <strong>Annonce</strong>
    </div>
    <form [formGroup]="annonceForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="form-group">
          <label for="titre">Titre annonce</label>
          <input type="text"
                 class="form-control"
                 id="titre"
                 formControlName="titre"
                 placeholder="Entrer le nom de l'administrateur"
          required>
          <small class="help-block red">
            Vous devez vérifier le titre de l'annonce!</small>
        </div>
        <div class="form-group">
          <label for="sujet">sujet</label>
          <input type="text"
                 class="form-control"
                 id="sujet"
                 formControlName="sujet"
                 placeholder="Entrer le prenom de l'administrateur"
          required>
          <small class="help-block red">
            Vous devez vérifier le sujet de l'annonce!</small>
        </div>
        <div class="form-group">
          <label for="pieceJointe">Pièce jointe</label>
          <div>
            <input type="file"
                   id="pieceJointe"
                   name="pieceJointe"
                   formControlName="pieceJointe"
                   required>
            <br>
            <small class="help-block red">
              Vérifier l'image! (PNG/JPG/JPEG/PDF/DOC)</small>
          </div>
        </div>
      </div>
        <div class="card-footer">
          <button type="submit"
                  size="sm"
                  class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Ajouter
          </button>
          <button type="reset" size="sm" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Annuler</button>
        </div>

    </form>
  </div>
</div><!--/.col-->

<!--<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">-->
<!--  <p style="color: white">Attendez SVP... </p>-->
<!--</ngx-spinner>-->
