<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Liste des annonces
      </div>
      <div class="card-body">
        <table *ngIf="annonces.length > 0" class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th>Titre annonce</th>
            <th>Sujet</th>
            <th>Pièce jointe</th>
            <th>Propriétaire</th>
          </tr>
          </thead>
          <tbody *ngIf="annonces.length">
          <tr *ngFor="let annonce of annonces | paginate: config">
            <td>{{annonce.titre}}</td>
            <td>{{annonce.sujet}}</td>
            <td><a href="{{apiAnnonce + '/fichier/' + annonce.pieceJointe}}">{{annonce.pieceJointe}}</a></td>
            <td><i>{{annonce.association.nom | titlecase}}</i></td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="annonces.length === 0">
          <div *ngFor="let alert of alertsEmpty">
            <alert [type]="alert.type"
                   [dismissOnTimeout]="alert.timeout"><strong>{{ alert.msg }}</strong></alert>
          </div>
        </div>
        <nav *ngIf="annonces.length > 5">
          <pagination-template #p="paginationApi"
                               (pageChange)="pageChanged($event)">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="p.isFirstPage()">
                <a *ngIf="!p.isFirstPage()"
                   (click)="p.previous()"
                   class="page-link"> Précédent </a>
              </li>
              <div *ngFor="let page of p.pages"
                   [class.current]="p.getCurrent() === page.value"
                   class="page-item">
                <a (click)="p.setCurrent(page.value)"
                   *ngIf="p.getCurrent() !== page.value"
                   class="page-link">
                  {{ page.label }}
                </a>
                <li *ngIf="p.getCurrent() === page.value" class="page-item active">
                  <a class="page-link">{{ page.label }}</a>
                </li>
              </div>
              <li [class.disabled]="p.isLastPage()" class="page-item">
                <a *ngIf="!p.isLastPage()"
                   (click)="p.next()"
                   class="page-link"> Suivant </a>
              </li>
            </ul>
          </pagination-template>
        </nav>

      </div>
    </div>
  </div>
  <!--/.col-->
</div>

<!--<div *ngFor="let alert of alertsDeleted">-->
<!--  <alert [type]="alert.type"-->
<!--         [dismissOnTimeout]="alert.timeout"><strong>{{ alert.msg }}</strong></alert>-->
<!--</div>-->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Attendez SVP... </p>
</ngx-spinner>

