/*.custom-pagination .page-number{*/
/*  display: inline-block;*/
/*  !* padding: 5px 12px; *!*/
/*  background: #afffe6;*/
/*  margin: 0px 4px;*/
/*  border-radius: 25px;*/
/*}*/

/*.page-number.current{*/
/*  background: #ffffff!important;*/
/*  border: 2px solid #458873;*/
/*}*/

/*.page-number span{*/
/*  display: block;*/
/*  width: 28px;*/
/*  height: 28px;*/
/*  font-size: 18px;*/
/*  cursor: pointer;*/
/*}*/

/*.pagination-previous,.pagination-next{*/
/*  display: inline-block!important;*/
/*  font-weight: bold!important;*/
/*}*/

a.page-link {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #20a8d8;
  background-color: #fff;
  border: 1px solid #c8ced3;
}
