<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <small>Modifier Informations</small>
      <strong>Benevole</strong>
    </div>
    <form [formGroup]="benevoleForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="nom">Nom Benevole</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{error: (nom.dirty || nom.touched) && nom.invalid}"
                   id="nom"
                   placeholder="Entrer le Nom de benevole"
                   name="nom"
                   formControlName="nom">
            <small class="help-block red"
                   *ngIf="(nom.dirty || nom.touched) && nom.invalid">
              Vérifier le nom!</small>
          </div>
          <div class="form-group col-sm-6">
            <label for="prenom">Prenom Benevole</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{error: (prenom.dirty || prenom.touched) && prenom.invalid}"
                   id="prenom"
                   placeholder="Entrer le prenom de benevole"
                   name="nom"
                   formControlName="prenom">
            <small class="help-block red"
                   *ngIf="(prenom.dirty || prenom.touched) && prenom.invalid">
              Vérifier le prenom!</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="inline-radios">Genre</label>
          <div class="col-md-9 col-form-label">
            <div class="col-md-4 form-check form-check-inline mr-1" id="inline-radios">
              <input class="form-check-input" type="radio" name="sexe" formControlName="sexe" id="homme"
                     value="homme" [checked]="true" disabled>
              <label class="form-check-label" for="homme">Homme</label>
            </div>
            <div class="col-md-4 form-check form-check-inline mr-1">
              <input class="form-check-input" type="radio" name="sexe" formControlName="sexe" id="femme"
                     value="femme" disabled>
              <label class="form-check-label" for="femme">Femme</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <input type="text"
                 class="form-control"
                 [ngClass]="{error: (adresse.dirty || adresse.touched) && adresse.invalid}"
                 id="adresse"
                 placeholder="Entrer l'Adresse de benevole"
                 name="adresse"
                 formControlName="adresse">
          <small class="help-block red"
                 *ngIf="(adresse.dirty || adresse.touched) && adresse.invalid">
            Vérifier l'adresse!</small>
        </div>
        <div class="row">
          <div class="form-group col-sm-8">
            <label for="ville">Ville</label>
            <input type="text"
                   class="form-control"
                   [ngClass]="{error: (ville.dirty || ville.touched) && ville.invalid}"
                   id="ville"
                   placeholder="Entrer la Ville de benevole"
                   name="ville"
                   formControlName="ville">
            <small class="help-block red"
                   *ngIf="(ville.dirty || ville.touched) && ville.invalid">
              Vérifier la ville!</small>
          </div>
          <div class="form-group col-sm-4">
            <label for="postal-code">Postal Code</label>
            <input type="number"
                   class="form-control"
                   [ngClass]="{error: (codePostale.dirty || codePostale.touched) && codePostale.invalid && codePostale.errors}"
                   id="postal-code"
                   placeholder="Postal Code"
                   name="codePostale"
                   formControlName="codePostale"
                   maxlength="4"
                   minlength="4">
            <small class="help-block red"
                   *ngIf="(codePostale.dirty || codePostale.touched) && codePostale.invalid && codePostale.errors">
              Vérifier le code Postale!</small>
          </div>
        </div><!--/.row-->
        <div class="form-group">
          <label for="tel">Téléphone</label>
          <input type="number"
                 class="form-control"
                 [ngClass]="{error: (tel.dirty || tel.touched) && tel.invalid && tel.errors}"
                 id="tel"
                 placeholder="Entrer le Téléphone de benevole"
                 name="tel"
                 formControlName="tel"
                 maxlength="9"
                 minlength="9">
          <small class="help-block red"
                 *ngIf="(tel.dirty || tel.touched) && tel.invalid && tel.errors">
            Vérifier le Téléphone!</small>
        </div>
        <div class="form-group">
          <label for="email">Email benevole</label>
          <input type="email"
                 class="form-control"
                 [ngClass]="{error: (email.dirty || email.touched) && email.invalid && email.errors}"
                 id="email"
                 placeholder="Entrer l'Email de benevole"
                 name="email"
                 formControlName="email"
                 email>
          <small class="help-block red"
                 *ngIf="(email.dirty || email.touched) && email.invalid && email.errors">
            Vérifier l'Email!</small>
        </div>
        <div class="form-group">
          <label for="username">Username benevole</label>
          <input type="text"
                 class="form-control"
                 [ngClass]="{error: (username.dirty || username.touched) && username.invalid && username.errors}"
                 id="username"
                 placeholder="Entrer Username de benevole"
                 name="username"
                 formControlName="username">
          <small class="help-block red"
                 *ngIf="(username.dirty || username.touched) && username.invalid && username.errors">
            Vérifier le username!</small>
        </div>
        <div class="form-group">
          <label for="password">Mot De Passe benevole</label>
          <input type="password"
                 class="form-control"
                 [ngClass]="{error: (password.dirty || password.touched) && password.invalid && password.errors}"
                 id="password"
                 placeholder="Entrer password de benevole"
                 name="password"
                 formControlName="password"
                 required>
          <small class="help-block red"
                 *ngIf="(password.dirty || password.touched) && password.invalid && password.errors">
            Vous devez confirmer le mot de passe!</small>
        </div>
        <!--        <div class="form-group">-->
        <!--          <label for="password2">Confirmer Mot De Passe Association</label>-->
        <!--          <input type="password"-->
        <!--                 class="form-control"-->
        <!--                 [ngClass]="{error: passwordMatch === false || (Form.value.password2 === '' && Form.submitted === true)}"-->
        <!--                 id="password2"-->
        <!--                 placeholder="Confirmer password de l'association"-->
        <!--                 ngModel-->
        <!--                 name="password2"-->
        <!--                 required-->
        <!--                 #password2>-->
        <!--          <small class="help-block red"-->
        <!--                 *ngIf="passwordMatch === false  || (Form.value.password2 === '' && Form.submitted === true)">-->
        <!--            Vous devez confirmer le mot de passe!</small>-->
        <!--        </div>-->

      </div>
      <div class="card-footer">
        <button type="submit"
                size="sm"
                class="btn btn-sm btn-primary"
                [disabled]="!benevoleForm.valid">
          <i class="fa fa-dot-circle-o"></i> Modifier
        </button>
        <button type="reset" size="sm" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div><!--/.col-->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Attendez SVP... </p>
</ngx-spinner>
