<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <small>Modifier Informations</small>
      <strong>Administrateur</strong>
    </div>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text"
                 class="form-control"
                 id="nom"
                 placeholder="Entrer le nom de l'administrateur"
                 formControlName="nom"
                 [ngClass]="{error: adminForm.get('nom').hasError('minlength')}">
          <small class="help-block red"
                 *ngIf="adminForm.get('nom').hasError('minlength')">
            Vous devez vérifier votre nom!</small>
        </div>
        <div class="form-group">
          <label for="nom">Prenom</label>
          <input type="text"
                 class="form-control"
                 id="Prenom"
                 placeholder="Entrer le prenom de l'administrateur"
                 formControlName="prenom"
                 [ngClass]="{error: adminForm.get('prenom').hasError('minlength')}">
          <small class="help-block red"
                 *ngIf="adminForm.get('prenom').hasError('minlength')">
            Vous devez vérifier votre prenom!</small>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 class="form-control" id="email"
                 placeholder="Entrer l'email de l'administrateur"
                 formControlName="email"
                 [ngClass]="{error: adminForm.get('email').hasError('email')}">
          <small class="help-block red"
                 *ngIf="adminForm.get('email').hasError('email')">
            Vous devez vérifier votre email!</small>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                 class="form-control"
                 id="username"
                 placeholder="Entrer le username de l'administrateur"
                 formControlName="username"
                 [ngClass]="{error: adminForm.get('username').hasError('minlength')}">
          <small class="help-block red"
                 *ngIf="adminForm.get('username').hasError('username')">
            Vous devez vérifier votre username!</small>
        </div>
        <div class="form-group">
          <label for="password">Votre Ancien Mot De Passe *</label>
          <input type="password"
                 class="form-control"
                 [ngClass]="{error: adminForm.get('password').invalid &&
                 submitted === true
                  || errorMsg !== ''}"
                 id="password"
                 placeholder="Entrer votre ancien mot de passe"
                 formControlName="password">
          <small class="help-block red"
                 *ngIf="adminForm.get('password').invalid &&
                 submitted === true  || errorMsg !== ''">
            Vous devez vérifier votre password! {{errorMsg}}</small>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <label class="switch switch-pill switch-primary">
              <input (click)="canUpdatePass()" [checked]="canUpdate" type="checkbox" class="switch-input" checked>
              <span class="switch-slider"></span>
            </label>
          </div>
          <div class="col-sm-4">
          <p>Voulez Vous changez votre mot de passe ?</p>
          </div>
        </div>
<div *ngIf="canUpdate==true" class="">
  <div class="form-group">
    <label for="newPassword">Votre Nouveau Mot De Passe *</label>
    <input type="password"
           class="form-control"
           [ngClass]="{error: adminForm.get('newPassword').invalid &&
                 submitted === true && canUpdate === true
                 || errorMsg !== ''}"
           id="newPassword"
           placeholder="Entrer votre nouveau mot de passe"
           formControlName="newPassword"
    >
    <small class="help-block red"
           *ngIf="adminForm.get('newPassword').invalid &&
                 submitted === true && canUpdate === true
|| errorMsg !== ''">
      Vous devez vérifier votre Nouveau Mot de passe! {{errorMsg}}</small>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Votre Ancien Mot De Passe *</label>
    <input type="password"
           class="form-control"
           [ngClass]="{error: adminForm.get('confirmPassword').invalid &&
                 submitted === true && canUpdate === true
                 || errorMsg !== ''}"
           id="confirmPassword"
           placeholder="Confirmez votre nouveau mot de passe"
           formControlName="confirmPassword"
    >
    <small class="help-block red"
           *ngIf="adminForm.get('confirmPassword').invalid &&
                 submitted === true && canUpdate === true
|| errorMsg !== ''">
      Vous devez confirmer votre Nouveau Mot de Passe! {{errorMsg}}</small>
  </div>

</div>
      </div>
      <div class="card-footer">
        <button type="submit"
                size="sm"
                class="btn btn-sm btn-primary">
          <i class="fa fa-dot-circle-o"></i> Modifier
        </button>
        <button type="reset" size="sm" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
  </div>
</div><!--/.col-->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Attendez SVP... </p>
</ngx-spinner>
